@font-face {
  font-family: comic;
  src: url('../fonts/ComicNeueSansID.ttf');
}
body {
  min-height: 100vh;
  font-family: comic;
  background-color: rgb(42, 22, 43);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 5, 22);
}
header h1 {
  font-size: 60px;
  color: rgb(125, 89, 192);
  text-shadow: 2px 2px rgb(68, 233, 63);
}

/* game */
.game-wrapper {
  margin: 80px 10vw;
  display: flex;
  flex-direction: column;
  animation: gameStart 1s;
}

@keyframes gameStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* game */
.game {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* justify-content: space-between; */
}

.game-board {
  display: grid;
  gap: 4px 4px;
  justify-content: center;
  align-content: center;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
}
.board-wrapper {
  background-color: rgb(1, 29, 19);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 20px rgb(22, 5, 22);
  justify-self: center;
  align-self: center;
}
.content-element {
  color: rgb(33, 46, 90);
  background-color: rgb(122, 158, 216);
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 60px;
}
.content-element:hover {
  background-color: rgb(74, 126, 209);
  transition: 0.5s;
}
/* player info */
.player-info {
  display: grid;
  justify-items: center;
}
.player-info h3 {
  align-self: center;
  font-size: 44px;
}
.player-info.first-pl h4,
.player-info.second-pl h4 {
  align-self: start;
  font-size: 28px;
}
/* options */
.game-options {
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator {
  font-size: 32px;
  padding: 0 32px;
  color: grey;
}
.game-options button {
  background-color: rgb(12, 129, 51);
  color: white;
  border: 0;
  font-family: inherit;
  font-size: 24px;
  width: 140px;
  height: 50px;
}
/* modal */
.modal-wrapper {
  position: fixed;
  display: grid;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(43, 7, 44);
}
.modal {
  width: 600px;
  height: 400px;
  padding: 20px;
  align-self: start;
  justify-self: center;
  border-radius: 10px;
  border: 3px solid rgb(43, 7, 44);
  background-color: rgba(85, 47, 121, 0.7);
  box-shadow: 0 0 1px 10px rgba(85, 62, 107, 0.7);
  transform: translateY(10vh);
}
.modal .title {
  font-size: 60px;
  color: white;
  text-align: center;
}
/* game-mode modal */
.modal.game-mode .content {
  display: flex;
  flex-direction: column;
}
.pro {
  text-align: center;
  color: rgb(183, 137, 226);
}
.modal.game-mode .content .button {
  border: 0;
  border-radius: 5px;
  background-color: rgb(52, 88, 88);
  color: rgb(81, 218, 122);
  font-family: inherit;
  align-self: center;
  font-size: 32px;
  margin: 20px 0;
  width: 320px;
  height: 80px;
  transition: 0.5s;
}
.modal.game-mode .content .button:hover {
  background-color: rgba(86, 134, 134, 0.836);
  color: rgb(187, 219, 245);
  width: 340px;
}
/* nicknames modal */
.modal.nicknames .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal.nicknames .content .element {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.modal.nicknames .content .element label {
  font-size: 24px;
  color: white;
}
.modal.nicknames .content .element input {
  font-family: inherit;
  color: white;
  background-color: blueviolet;
  font-size: 24px;
  padding: 0.4rem;
  height: 40px;
}
.modal.nicknames .content .modal-options {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.modal.nicknames .content .modal-options .button {
  border: 0;
  color: white;
  background-color: rgb(13, 73, 68);
  font-family: inherit;
  font-size: 20px;
  width: 100px;
  transition: 0.5s;
}
.modal.nicknames .content .modal-options .button:hover {
  width: 120px;
  background-color: rgb(27, 100, 94);
}
/* game over modal */
.modal.game-over .content .gg {
  padding: 5px;
  color: white;
  word-break: break-all;
  text-align: center;
}
.modal.game-over .content .modal-options {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal.game-over .content .modal-options .button {
  border: 0;
  color: white;
  font-family: inherit;
  border-radius: 4px;
  background-color: blueviolet;
  font-size: 32px;
  margin: 10px;
  width: 200px;
  height: 60px;
  transition: 0.5s;
}
.modal.game-over .content .modal-options .button:hover {
  background-color: rgb(157, 74, 235);
  width: 220px;
}
